{% extends 'base.html' %}
{% block content %}
    <div class="text-center">
        <h1>Welcome to API Apartment</h1>
        <p class="lead">Manage residents, apartments, and more efficiently.</p>
    </div>
    <section id="about">
        <h2><u>About our project</u></h2>
        <p>This project aims on improving lifestyle of the people living in an apartment.
            Some of it's key features are,<br>
        
        <h5>Comprehensive Solution:</h5>

        <p>Streamlines administrative tasks for residential community management.</p>
        
        <h5>Centralized Database:</h5>
            <p>Stores and organizes detailed information like,<br>
            Resident profiles.<br>
            Apartment details.<br>
            Contact information.<br></p>


        <h5>Efficient Communication:</h5>

        <p>Facilitates seamless communication between residents and management.</p>
        
        <h5>Automation of Routine Operations:</h5>

        <p>Reduces manual effort by automating administrative processes.</p>
            
        <h5>Organized and Secure Environment:</h5>

        <p>Ensures data security and systematic management of community operations.</p>
            
        <h5>User-Friendly Interface:</h5>

        <p>Simplifies tasks for both residents and property managers.</p>
            
        <h5>Improved Quality of Life:</h5>

            <p>Enhances living experience for residents.<br>
            Eases management workload for property managers.</p>
    </section>
{% endblock %}
